@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.active{
  color: #00000080;
}


.w-full > .max{
  max-width: 1366px;
  margin: auto;
  padding-inline: 120px;
}

@media screen and (max-width: 1024px){
  .w-full > .max{
    padding-inline: 45px;
  }
}
@media screen and (max-width: 425px){
  .w-full > .max{
    padding-inline: 10px;
  }
}